# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de configuration d'environnement
.env

# Fichiers de cache
*.log
*.cache

# Fichiers de configuration IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace